body {
  background-image: linear-gradient(rgba(0,15,25,.8), rgba(0,15,25,.8)), url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  padding-top: 25px;
}
.navbar{
  background: transparent;
  border: none;
  /*margin-bottom: 85px;*/
}
.viewfile{
  margin-top:30px;
}
.main-box{
 background-color: #fff;
}
.uploads{
 margin-top:20px;
 color: lightblue;
 padding-right:20px;
}

.text{
  color:black;
}

select[multiple]{
  color: black;
  width: 16.7em;
  font-size: 1.5em;
}

.index{
  padding-top: 30px;
}